#page-container {
}

#header {
}

#nav-container {
	float: left;
}

#content-container {
	float: left;
}

#footer {
	clear: both;
	height: 72px;
}

#footer div {
	margin: 0 auto;
	display: table;
}

#footer img {
	padding: 5px;
}
